{% extends 'manager/base.html' %}

{% block right_panel %}

    {% if form %}
        <form action="" method="POST">{% csrf_token %}
        <table>
            <tr>
{#                <td>new_password</td>#}
                <td>new_password:{{ form.new_password }}</td>
            </tr>
            <tr>
{#                <td>confirm password</td>#}
                <td>confirm password:{{ form.new_password_confirmation}}</td>
            </tr>
        </table>
        <input type="submit" value="save">
        </form>
    {% endif %}


    {% if different_password %} <h4> please enter correct password! </h4>{% endif%}
        {% if success_pass %}
          <h4> changed successfully </h4>
        {% endif %}

{% endblock %}

