{% extends 'student/base.html' %}


{% block main-panel %}
    hi  {{ user.first_name }}!
    {% if form %}
        <form action="" method="POST">{% csrf_token %}
            </br>
           <div class="form-group">
               &nbsp;&nbsp;&nbsp;<label for="password">OldPassword:</label>
               </br>
               &nbsp;&nbsp;&nbsp;<input type="password" class="form-change" id="password" placeholder="Enter old password">
               </br>
               &nbsp;&nbsp;&nbsp;<label for="newpassword">NewPassword:</label>
               </br>
               &nbsp;&nbsp;&nbsp;<input type="passwod" class="form-change" id="newpassword" placeholder="Enter new password">
               </br>
               &nbsp;&nbsp;&nbsp;<label for="passwordcon" >PasswordConfirmation:</label>
               </br>
               &nbsp;&nbsp;&nbsp;<input type="password" class="form-change" id="passwordcon" placeholder="Confirm new password ">
           </div>
        &nbsp;&nbsp;&nbsp;<input type="submit" value="Update">
        </form>
    {% endif %}

    {% if success %}
        <p>Your password update successfully!</p>
    {% endif %}
{% endblock main-panel %}